@page
@model Asp.netCoreDemo.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Video</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Video.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Video.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Video.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Video.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Video.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Video.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Video.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Video.Price)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Video.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
