@page
@model Asp.netCoreDemo.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Video</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Video.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Video.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Video.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Video.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Video.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Video.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Video.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Video.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Video.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
