@model insertimage.Models.carinfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>carinfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Carimage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carimage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.carid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
